# Flutter/Dart/Pub-related
.dart_tool/
.packages
pubspec.lock

# Android
.idea/
android/.gradle/
android/app/build/
android/build/

# iOS
ios/Flutter/.pub-cache/
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/

# macOS
macos/Flutter/.pub-cache/
macos/Flutter/Flutter.podspec
macos/Pods/

# Windows
windows/Flutter/.pub-cache/
windows/Flutter/Flutter.podspec
windows/Pods/

# VS Code settings
.vscode/

# Misc
*.log
*.lock
*.tmp
*.swp

# IntelliJ
.idea/

# Android Studio
.android/
